.banner .logo {
    display: flex;
    max-width: 400px;
    margin: 50px auto;
}

.navbar-expand-lg .navbar-collapse {
    justify-content:flex-end;
    font-size: 1.2rem;
}

.calc-name {
    margin-top: 40px;
}
 h1 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-decoration: overline;
    margin-top: 45px;
    
}

.style-choice {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: baseline;
    text-decoration: underline
}

.img-styles {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.area {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range-slider__range::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background: #2c3e50;
 cursor: pointer;
 -webkit-transition: background .15s ease-in-out;
 transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
 background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
 background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
 width: 20px;
 height: 20px;
 border: 0;
 border-radius: 50%;
 background: #2c3e50;
 cursor: pointer;
 -webkit-transition: background .15s ease-in-out;
 transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
 background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
 background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
 -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
 box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

/* custom label */
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

/* custom track */
::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

/* remove border */
  input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

/*.center-on-page {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%,-50%);*/
/*}*/
/*h1 {*/
/*  text-align: center;*/
/*}*/
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.city {
       display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: baseline; 
}

.type-of-house {
       display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: baseline; 
}

.service {
        display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: baseline;
}

.personal {
    margin: 50px;
}

.person {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    
}


.footer {
margin-top: 30px;
padding: 30px;
background-color: #f8f9fa;
}

.phone-icon {
max-width: 48px;
 }
 
 .soc-media {
display: flex;
justify-content: space-between;
}

.contacts {
   padding: 30px;
   margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    }
.paragraph {
    text-decoration: overline;
    margin-top: 40px;
}

span {
    padding-right: 10px;
}

form {
    background-color: #f0f8ff87;
}

div.contacts {
    background-color: #f8f9fa;
    
}

div.personal {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}