.banner .logo {
    display: flex;
    max-width: 290px;
    margin: auto;
    padding: 30px 0;
}


.navbar-expand-lg .navbar-collapse {
    justify-content:flex-end;
    font-size: 1.2rem;
}

.portfol {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 20px;
}

.carousel-item {
max-height: 780px;
}

.footer {
margin-top: 50px;
}

.phone-icon {
max-width: 48px;
 }
 
 .soc-media {
display: flex;
justify-content: space-between;
margin: 30px;
}

.contacts {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    background-color: #f8f9fa;
    }
.paragraph {
    text-decoration: overline;
    margin-top: 40px;
}
main {
        background-color: #ae742a0f;
}